/* делаем везде так, чтобы свойства width и height задавали не размеры контента, а размеры блока */
* {
    box-sizing: border-box;
  }
  
  /* общие настройки страницы */
  body {
    /* подключаем сетку */
    display: grid;
    /* ставим всё по центру */
    place-items: center;
    /* если что-то не помещается на своё место — скрываем то, что не поместилось */
    overflow: hidden;
    background-image: url('./fon.jpg');
    background-size: 100%;
    @media(max-width: 700px){
    background-size: 150%;

    }
  }
  
  /* общий блок для всех элементов */
  .deal-wheel {
    /* задаём переменные блока */
    /* размеры колеса */
    --size: clamp(250px, 80vmin, 700px);
    /* настройки яркости и заливки фона секторов */
    --lg-hs: 0 3%;
    --lg-stop: 50%;
    --lg: linear-gradient(
        hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
        hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
      );
    /* добавляем позиционирование относительно других элементов */
    position: relative;
    /* подключаем сетку */
    display: grid;
    grid-gap: calc(var(--size) / 20);
    /* выравниваем содержимое блока по центру */
    align-items: center;
    /* задаём имена областей внутри сетки */
    grid-template-areas:
      "spinner"
      "trigger";
    /* устанавливаем размер шрифта */
    font-size: calc(var(--size) / 21);
    top: 70px;
    @media (max-width:500px) {
      top: 140px;
    }
  }
  
  /* всё, что относится ко внутренним элементам главного блока, будет находиться в области сетки с названием spinner */
  .deal-wheel > * {
    grid-area: spinner;
  }
  
  /* сам блок и кнопка будут находиться в области сетки с названием trigger и будут выровнены по центру */
  .deal-wheel .btn-spin {
    grid-area: trigger;
    justify-self: center;
  }
  
  /* сектор колеса */
  .spinner {
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.71);

    /* добавляем относительное позиционирование */
    position: relative;
    /* подключаем сетку */
    display: grid;
    /* выравниваем всё по центру */
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;
    /* добавляем элемент в сетку */
    grid-template-areas: "spinner";
    /* устанавливаем размеры */
    width: var(--size);
    height: var(--size);
    /* поворачиваем элемент  */
    transform: rotate(calc(var(--rotate, 25) * 1deg));
    /* рисуем круглую обводку, а всё, что не поместится, — будет скрыто за кругом */
    border-radius: 50%;
  }
  
  /* всё, что внутри этого блока, будет находиться в области сетки с названием spinner */
  .spinner * {
    grid-area: spinner;
  }
  
  /* текст на секторах */
  .prize {
    /* включаем «гибкую» вёрстку */
    display: flex;
    align-items: center;
    /* задаём отступы от краёв блока */
    padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 20);
    /* устанавливаем размеры */
    width: 50%;
    height: 50%;
    /* устанавливаем координаты, относительно которых будем вращать текст */
    transform-origin: center right;
    /* поворачиваем текст */
    transform: rotate(var(--rotate));
    /* запрещаем пользователю выделять мышкой текст на секторах */
    user-select: none;
  }
  
  /* язычок */
  .ticker {
    /* добавляем относительное позиционирование */
    position: relative;
    /* устанавливаем размеры */
    left: calc(var(--size) / -15);
    width: calc(var(--size) / 10);
    height: calc(var(--size) / 20);
    /* фон язычка */
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    /* делаем так, чтобы язычок был выше колеса */
    z-index: 1;
    /* форма язычка */
    clip-path: polygon(20% 0, 100% 50%, 20% 100%, 0% 50%);
    /* устанавливаем точку, относительно которой будет вращаться язычок при движении колеса */
    transform-origin: center left;
  }
  
  /* кнопка запуска колеса */

  .btn-spin-div{
    cursor: pointer;
    position: absolute;

    border-radius: 50%;
    bottom: 200px;
    left: 42%;
    bottom: 43%;
    height: 15%;
    width: 17%;
  }

  .btn-spin {
    color: white;
    background: black;
    border: none;
    /* берём размер шрифта такой же, как в колесе */
    font-size: inherit;
    /* добавляем отступы от текста внутри кнопки */
    /* скругляем углы */
    border-radius: 0.5rem;
    /* меняем внешний вид курсора над кнопкой на руку*/
    border-radius: 50%;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  
  /* если кнопка нажата и неактивна */

  
  /* анимация вращения */
  .is-spinning .spinner {
    transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
  }
  
  /* анимация движения язычка */
  .is-spinning .ticker {
            animation: tick 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  
  
  /* эффект, когда колесо задевает язычок при вращении */
  @keyframes tick {
    40% {
      /* чуть поворачиваем язычок наверх в середине анимации */
      transform: rotate(-12deg);
    }
  }
  
  /* анимируем выпавший сектор */
  .prize.selected .text {
    /* делаем текст белым */
    color: white;
    /* настраиваем длительность анимации */
    animation: selected 800ms ease;
  }
  
  /* настраиваем анимацию текста на выпавшем секторе по кадрам */
  @keyframes selected {
    /* что происходит на 25% от начала анимации */
    25% {
      /* увеличиваем текст в 1,25 раза */
      transform: scale(1.25);
      /* добавляем тексту тень */
      text-shadow: 1vmin 1vmin 0 hsla(0 0% 0% / 0.1);
    }
    40% {
      transform: scale(0.92);
      text-shadow: 0 0 0 hsla(0 0% 0% / 0.2);
    }
    60% {
      transform: scale(1.02);
      text-shadow: 0.5vmin 0.5vmin 0 hsla(0 0% 0% / 0.1);
    }
    75% {
      transform: scale(0.98);
    }
    85% {
      transform: scale(1);
    }
  }
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 30px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


  .modalX {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modelX-div {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 300px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-family: 'BubuFont',Arial,sans-serif;

  @media(max-width: 600px){
    width: 80%;
  }
}



.modalV {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modelV-div {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 300px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  @media(max-width: 600px){
    width: 80%;
  }
}

.modalBuy {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalBuy-div {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 300px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  @media(max-width: 600px){
    width: 80%;
  }
}


.modalI {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modelI-div {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  @media(max-width: 600px){
    width: 80%;
  }
}


.modalM {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modelM-div {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  @media(max-width: 600px){
    width: 80%;
  }
}


.modalsignup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalsignup-div {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 500px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  @media(max-width: 600px){
    width: 80%;
  }
}

.modalsignIn {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalsignIn-div {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 500px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  @media(max-width: 600px){
    width: 80%;
  }
}

form > input{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.profile{
  position: absolute;
  top: 40px;
  left: 20px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  display: none;

}

.profile > img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;

}
#signIn {
  margin-top: 100px;
}
#signIn > a{
  text-decoration: none;

}
#signUp {
  margin-top: 100px;
}
#signUp > a{
  text-decoration: none;

}

